page-home {
   .text-responsive{
     white-space: normal !important;
   }

   .toolbar-title-ios {
    font-size: 1.5rem;
  }

  .button-ios {
    height: 2.5em;
  }
  .button-full-md{
    height: 2.9em;
  }

}
